.acf-fields .acf-label {
    font-size: 2em;
}

#acf-editor-38 , #acf-editor-40, #acf-editor-38_ifr {
	height: 120px !important;
}

#description-wysiwyg {
	min-height: auto !important;
}

#acf-editor-39, #acf-editor-41, #acf-editor-41_ifr {
	height: 60px !important;
}

#citation-wysiwyg {
	min-height: auto !important;
}
